body{
    font-family:sans-serif;    
    letter-spacing: 0px;
    width: 100%;
    height: 100vh;
}
.arrow{
    position: fixed;
    top: 40px;
    left: 20px;
    
}
.arrow img{
    height: 50px;
    width: 50px;
    border-radius: 100%;  
}
.arrow img:hover{
    cursor: pointer;
    transition: .5s;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.348));
    
}
.top-title{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-top: 100px;
    font-size: 24px;
    padding-bottom: 0px;
    font-weight: bold;
}
.sub-title{
    width: 100%;
    display: flex;
    justify-content: center;
    color: rgb(138, 138, 138);
    padding-bottom: 100px;
}
.contain{
    font-size: 20px;  
    width: 100%;
    padding: 10px;
    box-sizing: border-box;

}
.contain input{
    font-size: smaller;
    width: 100%;
    background-color: white;
    border: 0;
    border-bottom: 1px gray solid;
    /*padding: 15px;*/
}
.contain .title{
    
    padding-top: 10px;
}
.contain .block{
    width: 47%;
}
.con2{
    display: flex;
    justify-content: space-between;
}
.form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.red{
    font-size: 16px; 
    color: red; 
    width: 100%;
    display: flex;
    justify-content: right;
    padding: 15px;
}
.forget:hover{
    cursor: pointer;
}
.footer{
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    color: white;
    background-color: rgb(151, 117, 250);
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.term{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 195px 35px 25px 35px;
    font-size: 15px;
    color: rgb(133, 133, 133);  
}
.term span{
    color: black;
    font-weight: bold;
}
.term span:hover{
    cursor: pointer;
}
.footer:hover{
    cursor: pointer;
}